<%= form_for @issue, :html => {:role => "form"}  do |f| %>
  <div class="form-group">
  <%= f.text_field :title, placeholder:"Title", class:"form-control", :autofocus => true %>
  <p class="errors"><%= @issue.errors.messages[:title][0] %></p>
  </div>
  <div class="form-group">
  <%= f.text_area :description, placeholder:"Description (optional)", class:"form-control", rows:"4" %>
  </div>
  <div class="radio"> 
  <%= f.radio_button :anonymous, :false, :checked => true %>
  <%= f.label :anonymous, "Post anonymously", :value => 'false' %>
  </div>
   <div class="radio">
  <%= f.radio_button :anonymous, :true %>   
  <%= f.label :anonymous, "Display my name", :value => 'true' %>
   </div>
  <%= f.submit class:"btn btn-primary" %>
<% end %>