<% unless current_user.admin %>
<%= link_to "New issue", new_issue_path, class:"btn btn-default pull-right" %>
<% end %>
<h1>Issues</h1>
<ul class="issues-list">
  <% @unresolved_issues.each do |issue| %>
    <li>
      <a href="<%= issue_path(issue) %>" title="<%= issue.title.titleize %>"><%= issue.title.titleize %>
      <div class="pull-right">
      <ul class="meta-info">
        <li><%= issue_poster_name(issue) %>,</li>
        <li><%= time_ago_in_words(issue.created_at, :seconds => true ) %> ago</li>
        <li>&nbsp;&nbsp;</li>
        <% if issue.responses.count > 0 %>
         <li><span class="label label-default">
              <span class="glyphicon glyphicon-comment">
              </span>
               <%= pluralize(issue.responses.count, 'Reply') %>
          </span></li>
        <% end %>
      </ul>
      </div>
      </a>
    </li>
  <% end %>
</ul>




<h1>Resolved Issues</h1>
<ul class="button-list">
<% @resolved_issues.each do |issue| %>
<li><%= link_to "#{issue_poster_name(issue)}: #{issue.title.titleize} (#{pluralize(issue.responses.count, 'response')})", issue %></li>
<% end %>
</ul>