<h1>Post a new issue </h1>

<%= form_for @issue do |f| %>
  <p>
  <%= f.text_field :title %>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
  </p>

  <%= f.submit %>

  
<% end %>
  