<h2><%= @issue.title.titleize %></h2>
<h3><%= @issue.description %></h3>


<h4>Posted by <%= issue_poster_name(@issue) %></h4>

<% if can_see_resolve_button?(@issue) %>
<%= link_to "Mark this issue as resolved", resolve_path(@issue) %><br>
<% end %>

<% if @issue.responses.any? %>
  Responses:
  <ul>

    <% @issue.responses.each do |response| %>
      <li><%= display_name(response.user) %>: "<%= response.description %>"</li>
  <% end %>

  </ul>
<% end %>

<br>
<br>
<strong> Add Response </strong><br>
render "responses/new"<br>

<%#= link_to "Respond to this issue", new_issue_response_path(@issue) %>

  