<h1><%= display_name(current_user) %>'s Queue</h1>

<% if @instructor_queue.count == 0 %>
  <p>There are currently no items in your queue.</p>
<% else %>

<ul class="issues-list">
  <% @instructor_queue.each do |issue| %>
  <li>
    <a href="<%= course_issue_path(@course, issue) %>" title="<%= issue.title.titleize %>"><%= issue.title.capitalize %>
      <div class="pull-right">
        <ul class="meta-info">
          <%= issue_name_and_time_ago(issue) %>
          <% if issue.responses.count > 0 %>
            <li><span class="label label-default">
              <span class="glyphicon glyphicon-comment"></span>
              <%= pluralize(issue.responses.count, 'Reply') %></span>
            </li>
          <% end %>
        </ul>
      </div>
    </a>
  </li>
  <% end %> <!-- do block end -->
</ul>
<% end %>