<ul class="issues-list">
  <% @unresolved_issues.each do |issue| %>
  <li>
    <form action="<%= course_issue_path(@course, issue) %>">
      <button type="submit" title="<%= issue.title.capitalize %>">
        <span class="issue-title"><%= issue.title.capitalize %></span>
          <ul class="meta-info">
            <%= issue_name_and_time_ago(issue) %>
            <%= render 'issue_responses_reply_count', :issue => issue if issue.responses.count > 0 %>
          </ul>
      </button>
  </form>
  </li>
     
  <% end %>
</ul>