<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
    <% #TODO: link to do %>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">

    <%= display_gravatar(current_user) %> 

    <span class="disappearing-menu">
        <%= display_name(current_user) %>
        <% if current_user.admin %>
        (Instructor)
        <% end %>
    </span>

    <b class="caret"></b>
    </a>
    <ul class="dropdown-menu user-menu prime-menu">
      <li><%= link_to "Sign Out", signout_path %></li>
      <li>
        <% if @course && /(courses)+.\d/.match(request.env['PATH_INFO']) && request.env['PATH_INFO'].length < 12 %>
        <%= link_to "#{@course.name} Archive", show_archive_path(@course) %></li>
        <% end %>
        <%= render 'layouts/check_for_and_render_primary_course_select' %>
    </li>
  </ul>
</div>