<!DOCTYPE html>
<html>
<head>
<% #TODO: extract into method %>
  <title><%= @course ? "#{@course.name} Issue Queue" : "Handraise" %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <%= favicon_link_tag '/favicon.ico' %>
</head>
<body>
<%= render 'layouts/navbar' %>

<div class="container">
<% #TODO: remove this CSS hack and add a class with padding instead %>
  <div class="row">
    <div class="col-sm-12 padding-on-top">
    </div>
  </div>

<% #end hack %>

  <div class="main-content">
    <% if flash[:notice] %>
      <div class="row">
        <div class="col-sm-12">
          <p class="alert alert-success"><%= flash[:notice] %></p>
        </div>
      </div>   
    <% end %>
    <%= yield %>
  </div>
</div> <!-- /container -->
</body>
</html>
