<!DOCTYPE html>
<html>
<head>
  <title>Handraise</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if @current_user %>
  Signed in as <%= current_user_name %>. <%= link_to "Log out", signout_path %>
<% else %>
  <%= link_to "Sign up or login", auth_github_path %>
<% end %>
<br><br>
<% if flash[:notice] %>
<p style="color:red"><%= flash[:notice] %>
<% end %>
<%= yield %>

</body>
</html>
