  <!DOCTYPE html>
  <html>
  <head>
    <title>Issue Queue</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= favicon_link_tag '/favicon.ico' %> 
  </head>
  <body>
   <!-- Fixed navbar -->
   <%= render 'layouts/navbar' %>


  <div class="container">
   <%= yield %>
 </div> <!-- /container -->
</body>
</html>
